@font-face {
  font-family: 'my-icon';
  src: url('./iconfont.ttf') format('truetype');
}

.my-icon {
  font-family: 'my-icon' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.my-icon-yincang:before {
  content: "\e6b1";
}

.my-icon-shenglvehao:before {
  content: "\e708";
}

.my-icon-qidianzhongdian:before {
  content: "\e6b6";
}

.my-icon-wangluoxinhaosange:before {
  content: "\e600";
}

.my-icon-nanfanghangkong:before {
  content: "\e66d";
}

.my-icon-zhengjian:before {
  content: "\e648";
}

.my-icon-dingwei:before {
  content: "\e675";
}

.my-icon-arrow_right_fat:before {
  content: "\e62c";
}

.my-icon-kefu:before {
  content: "\e645";
}

.my-icon-ditu:before {
  content: "\e8ad";
}

.my-icon-dianyingpiao:before {
  content: "\e8ae";
}

.my-icon-chaojihuiyuan:before {
  content: "\e601";
}

.my-icon-jiating:before {
  content: "\e68d";
}

.my-icon-a-route_icon_snowm3x:before {
  content: "\e637";
}

.my-icon-lianxiren:before {
  content: "\e61f";
}

.my-icon-dingdan:before {
  content: "\e635";
}

.my-icon-qiabao:before {
  content: "\e669";
}

.my-icon-icon_pk:before {
  content: "\e632";
}

.my-icon-shipin:before {
  content: "\e61e";
}

.my-icon-xiangce:before {
  content: "\e62b";
}

.my-icon-mingpian:before {
  content: "\e617";
}

.my-icon-icon-test:before {
  content: "\e807";
}

.my-icon-zuche:before {
  content: "\e613";
}

.my-icon-yanzheng:before {
  content: "\e606";
}

.my-icon-zhujiudian:before {
  content: "\e602";
}

.my-icon-aizhushou:before {
  content: "\e72c";
}

.my-icon-saoyisao1:before {
  content: "\e67d";
}

.my-icon-shezhi1:before {
  content: "\e644";
}

.my-icon-dianzan:before {
  content: "\e61b";
}

.my-icon-sousuo:before {
  content: "\e60a";
}

.my-icon-guohangicon:before {
  content: "\e64d";
}

.my-icon-hainanhangkong:before {
  content: "\e7cb";
}

.my-icon-dongfanghangkong:before {
  content: "\e630";
}

.my-icon-shamenhangkong:before {
  content: "\e636";
}

.my-icon-chunqiuhangkong:before {
  content: "\e650";
}

.my-icon-chat02:before {
  content: "\e608";
}

.my-icon-hongbao:before {
  content: "\e62a";
}

.my-icon-plushuiyuan:before {
  content: "\e69a";
}

.my-icon-gouwu:before {
  content: "\e7d3";
}

.my-icon-huochepiao:before {
  content: "\10184";
}

.my-icon-dache:before {
  content: "\e698";
}

.my-icon-jiesongjixiao:before {
  content: "\e6b4";
}

.my-icon-feiji:before {
  content: "\e63f";
}

.my-icon-dunpaibaoxianrenzheng:before {
  content: "\eba0";
}

.my-icon-plus:before {
  content: "\e6b5";
}

.my-icon-jiudian:before {
  content: "\e64f";
}

.my-icon-xiangcun:before {
  content: "\e60d";
}

.my-icon-zhiji:before {
  content: "\e685";
}

.my-icon-shanchu:before {
  content: "\e641";
}

.my-icon-jingyan1:before {
  content: "\e6a2";
}

.my-icon-jingyan1-copy:before {
  content: "\edaf";
}

.my-icon-hangbandongtai1:before {
  content: "\edae";
}

.my-icon-wo1:before {
  content: "\e620";
}

.my-icon-hangbandongtai1-copy:before {
  content: "\edb0";
}

.my-icon-wo1-copy:before {
  content: "\edb1";
}

.my-icon-hangcheng1-copy:before {
  content: "\edb2";
}

.my-icon-hangcheng1:before {
  content: "\e607";
}

.my-icon-hanglvzongheng1:before {
  content: "\ea8c";
}

.my-icon-hanglvzongheng1-copy:before {
  content: "\edb3";
}

